<nav class="navbar navbar-expand-lg bg-dark navbar-dark" xmlns:th="https://www.thymeleaf.org/" th:fragment="menu-principal">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Alumnos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/alumnos}">Alumnos</a>
                </li>

            </ul>
        </div>
    </div>
</nav>