<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="card" >

    <div class="card-body">
        <form th:action="@{/thymeleaf/mostrar-datos}"  th:object="${placaMadre}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>socket</label>
                        <input type="text" class="form-control" placeholder="Ingrese el socket" name="socket" th:field="*{socket}" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>marca</label>
                        <input type="text" class="form-control" placeholder="Ingrese marca" name="marca" th:field="*{marca}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>modelo</label>
                        <input type="text" class="form-control" placeholder="Ingrese modelo" name="modelo" th:field="*{modelo}" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>cantidadBancosMemorias</label>
                        <input type="text" class="form-control" placeholder="Ingrese el cantidadBancosMemorias" name="cantidadBancosMemorias" th:field="*{cantidadBancosMemorias}" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>tipoMemoria</label>
                        <input type="text" class="form-control" placeholder="Ingrese tipoMemoria" name="tipoMemoria" th:field="*{tipoMemoria}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>cantidadBancosPCIExpress</label>
                        <input type="text" class="form-control" placeholder="Ingrese cantidadBancosPCIExpress" name="cantidadBancosPCIExpress" th:field="*{cantidadBancosPCIExpress}">
                    </div>
                </div>
            </div>

            <br>
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>