<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="card" >

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <strong>Marca</strong>
                    <label th:text="${placaMadre.marca}">Marca</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <strong>Modelo</strong>
                    <label th:text="${placaMadre.modelo}">Marca</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <strong>Socket</strong>
                    <label th:text="${placaMadre.socket}">Marca</label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>