<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="card" >

    <div class="card-body">
        <form th:action="@{/alumnos/guardar}"  method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>socket</label>
                        <input type="text" class="form-control" placeholder="Ingrese el socket" name="socket" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>marca</label>
                        <input type="text" class="form-control" placeholder="Ingrese marca" name="marca" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>modelo</label>
                        <input type="text" class="form-control" placeholder="Ingrese modelo" name="modelo" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>cantidadBancosMemorias</label>
                        <input type="text" class="form-control" placeholder="Ingrese el cantidadBancosMemorias" name="cantidadBancosMemorias" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>tipoMemoria</label>
                        <input type="text" class="form-control" placeholder="Ingrese tipoMemoria" name="tipoMemoria" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>cantidadBancosPCIExpress</label>
                        <input type="text" class="form-control" placeholder="Ingrese cantidadBancosPCIExpress" name="cantidadBancosPCIExpress" >
                    </div>
                </div>
            </div>

            <br>
            <div class="box-footer">
                <button class="btn btn-success">Guardar</button>
                <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>socket</th>
            <th>marca</th>
            <th>modelo</th>
            <th>cantidadBancosMemorias</th>
            <th>tipoMemoria</th>
            <th>cantidadBancosPCIExpress</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="placaMadre: ${listaDePlacaMadres}">
            <td th:text="${placaMadre.socket}"></td>
            <td th:text="${placaMadre.marca}"></td>
            <td th:text="${placaMadre.modelo}"></td>
            <td th:text="${placaMadre.cantidadBancosMemorias}"></td>
            <td th:text="${placaMadre.tipoMemoria}"></td>
            <td th:text="${placaMadre.cantidadBancosPCIExpress}"></td>

        </tr>
    </tbody>
</table>
</body>
</html>