<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Adaptacion al Ambiente del Trabajo 2024</title>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/bootstrap/js/popper.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
  <h4 th:text="${titulo}"></h4>
  <br>
  <p th:text="${parrafo}"></p>
</body>
</html>