<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<body>

<div class="container">
    <div class="card">
        <h4 class="card-header"><strong th:text="${descripcion}"></strong></h4>
        <div class="card-body">

            <form th:action="@{/thymeleaf/guardarpracticaProfe5}" th:object="${placaMadre}" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Marca</label>
                            <input type="text" class="form-control"  name="nombre" th:field="*{marca}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Modelo</label>
                            <input type="text" class="form-control"  name="apellido" th:field="*{modelo}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Socket</label>
                            <input type="text" class="form-control"  name="dni" th:field="*{socket}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tipo Memoria</label>
                            <select class="form-control selectpicker" th:field="*{tipoMemoria}">
                                <option value="DDR4">DDR4</option>
                                <option value="DDR3">DDR3</option>
                                <option value="DDR5">DDR5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cant Bancos Mem	</label>
                            <input type="number" class="form-control"  name="email" th:field="*{cantidadBancosMemorias}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cant PCI Express</label>
                            <input type="number" class="form-control"  name="email" th:field="*{cantidadBancosPCIExpress}">
                        </div>
                    </div>
                </div>

                <br>
                <div class="box-footer">
                    <button class="btn btn-success">Guardar</button>
                    <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>