<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="card" >
        <h4 class="card-header"><strong>Alta Venta</strong></h4>
        <div class="card-body">
            <form  th:object="${venta}" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cliente</label>
                            <select class="form-control selectpicker" name="cliente_id" th:field="*{cliente}"  id="clienteSelect">
                                <option th:each="cli : ${clientes}"
                                        th:text="${cli.nombre}"
                                        th:value="${cli.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Productos</label>
                            <select class="form-control selectpicker" name="producto" id="productoSelect" >
                                <option th:each="prod : ${productos}"
                                        th:text="${prod.tipoProducto.nombre}+' '+${prod.marca.nombre}+' '+${prod.descripcion}"
                                        th:value="${prod.id}"></option>
                            </select>


                        </div>
                    </div>
                </div>
                <br>
                <div class="box-footer">
                    <!-- Botón para agregar más productos -->
                    <button class="btn btn-success" type="button" onclick="agregarProducto()">Agregar Producto</button>
                </div>
                    <!-- Tabla para mostrar los productos seleccionados -->
                <br>
                <div class="row">
                        <div class="col-md-8">
                            <table id="tablaProductos" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Descripción</th>
                                    
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Aquí se añadirán las filas de productos dinámicamente -->
                                </tbody>
                            </table>
                        </div>
                </div>
                <br>
                
            </form>
            <div class="box-footer">
                <button class="btn btn-primary" onclick="enviarFormulario()">Guardar</button>
                <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
            </div>
        </div>
    </div></div>


</body>
<script>
    function agregarProducto() {
        const productoSelect = document.getElementById('productoSelect');
        const productoId = productoSelect.value;
        const productoDescripcion = productoSelect.options[productoSelect.selectedIndex].text;
        
        // Crear una nueva fila en la tabla de productos
        const tablaProductos = document.getElementById('tablaProductos').getElementsByTagName('tbody')[0];
        const nuevaFila = tablaProductos.insertRow();

        // Agregar las celdas a la fila
        const celdaDescripcion = nuevaFila.insertCell(0);
        celdaDescripcion.textContent = productoDescripcion;
        celdaDescripcion.dataset.productoId = productoId; // Almacenar el ID del producto en un atributo de datos

    

        const celdaAcciones = nuevaFila.insertCell(1);
        celdaAcciones.innerHTML = '<button type="button" class="btn btn-danger" onclick="eliminarProducto(this)">Eliminar</button>';
    }

    // Función para eliminar un producto de la tabla
    function eliminarProducto(boton) {
        const fila = boton.parentNode.parentNode;
        fila.parentNode.removeChild(fila);
    }
    function enviarFormulario() {
    const clienteId = document.getElementById('clienteSelect').value;

    // Recoger los productos seleccionados de la tabla

        const itemsVenta = [];
        const filasProductos = document.getElementById('tablaProductos').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        for (const fila of filasProductos) {
            const descripcion = fila.cells[0].textContent;
            const productoId = fila.cells[0].dataset.productoId;
            console.log("id prod "+productoId)
            itemsVenta.push({
                producto: { id: productoId },
            });
        }

        // Crear el objeto JSON manualmente
        const jsonData = {
            cliente: {
                id: clienteId
            },
            itemVentas: itemsVenta 
        };

    // Enviar datos con Fetch
    fetch('/api-venta/alta', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    })
    .then(response => {
        if (response.ok) {
            alert('Venta registrada con éxito');
        } else {
            alert('Error al registrar la venta');
        }
    })
    .catch(error => console.error('Error:', error));
}

</script>
</script>
</html>