<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h3>Detalle de la Venta</h3>
    </div>
    <table class="table table-dark table-hover">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col" th:text="${venta.cliente.nombre}+' '+${venta.cliente.apellido} "></th>
        </tr>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col"th:text="${venta.fecha}"></th>
        </tr>
        <tr>
            <th scope="col">Total $:</th>
            <th scope="col"th:text="${venta.total}"></th>
        </tr>
    </table>
    <br>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Total</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="items: ${itemVentas}">
            <td th:text="${items.id}"></td>
            <td th:text="${items.producto.tipoProducto.nombre}"></td>
            <td th:text="${items.producto.marca.nombre} "></td>
            <td th:text="${items.producto.descripcion} "></td>
            <td th:text="${items.precioTotal}"></td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>