<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Ventas</h1>
    </div>
    <div class="row">
        <div class="col-md-6"><a th:href="@{/venta/alta}" class="btn btn-primary">Agregar</a></div>

    </div>
    <br>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cliente</th>
            <th scope="col">Total</th>

            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venta: ${ventas}">
            <td th:text="${venta.id}"></td>
            <td th:text="${venta.fecha}"></td>
            <td th:text="${venta.cliente.nombre}+' '+${venta.cliente.apellido} "></td>
            <td th:text="${venta.total}"></td>
            <td>
                <a th:href="@{/venta/items-venta/{id}(id=${venta.id})}" class="btn btn-info" >Ver Detalles</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>