<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="card" >
        <h4 class="card-header"><strong>Alta Cliente</strong></h4>
        <div class="card-body">
            <form th:action="@{/clientes/editar}" th:object="${cliente}" method="post">
                <input type="hidden" class="form-control"  name="id" th:field="*{id}" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Ingrese el Nombre" name="nombre" th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" class="form-control" placeholder="Ingrese el Apellido" name="apellido" th:field="*{apellido}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>DNI</label>
                            <input type="text" class="form-control" placeholder="Ingrese el DNI" name="dni" th:field="*{dni}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Genero</label>
                            <select class="form-control selectpicker" name="genero_id" th:field="*{genero}" >
                                <option th:each="gen : ${generos}"
                                        th:text="${gen.nombre}"
                                        th:value="${gen.id}"
                                        th:selected="${gen.id} == *{genero.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="text" class="form-control" placeholder="Ingrese el Correo" name="email" th:field="*{email}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" placeholder="Ingrese direccion" name="direccion" th:field="*{direccion}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" placeholder="Ingrese el numero de Telefono" name="telefono" th:field="*{telefono}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="box-footer">
                    <button class="btn btn-success">Guardar</button>
                    <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
                </div>
            </form>
        </div>
    </div></div>


</body>
</html>