<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
    <div class="row">
        <h1>Lista de Cliente</h1>
    </div>
    <div class="row">
        <div class="col-md-6"><a th:href="@{/clientes/alta}" class="btn btn-primary">Agregar Cliente</a></div>

    </div>
    <br>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Genero</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente: ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.genero.nombre}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td>
                <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="btn btn-info" >Editar</a>
                <a th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}" class="btn btn-danger" >Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>