<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2024</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Lista de Placa Madre</h1>
    </div>
    <div class="row">
        <div class="col-md-6"><a th:href="@{/placa-madre/alta}" class="btn btn-primary">Agregar Placa Madre</a></div>

    </div>
    <br>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Socket</th>
            <th scope="col">Cant Bancos RAM</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cant PCI-E</th>
            <th scope="col">Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="placaMadre: ${listaPlacaMadre}">
            <td th:text="${placaMadre.id}"></td>
            <td th:text="${placaMadre.marca}"></td>
            <td th:text="${placaMadre.modelo}"></td>
            <td th:text="${placaMadre.socket}"></td>
            <td th:text="${placaMadre.cantidadBancosMemorias}"></td>
            <td th:text="${placaMadre.tipoMemoria}"></td>
            <td th:text="${placaMadre.cantidadBancosPCIExpress}"></td>
            <td>
                <a th:href="@{/placa-madre/editar/{id}(id=${placaMadre.id})}" class="btn btn-info" >Editar</a>
                <a th:href="@{/placa-madre/eliminar/{id}(id=${placaMadre.id})}" class="btn btn-danger" >Eliminar</a>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>