<div th:fragment="scriptJS" xmlns:th="https://www.thymeleaf.org/">
<!-- BEGIN: Page Vendor JS-->
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/tables/datatable/buttons.bootstrap5.min.js}"></script>
<script th:src="@{/plantilla/app-assets/vendors/js/forms/validation/jquery.validate.min.js}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script th:src="@{/plantilla/app-assets/js/core/app-menu.js}"></script>
<script th:src="@{/plantilla/app-assets/js/core/app.js}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script th:src="@{/plantilla/app-assets/js/scripts/pages/modal-add-permission.js}"></script>
<script th:src="@{/plantilla/app-assets/js/scripts/pages/modal-edit-permission.js}"></script>
<script th:src="@{/plantilla/app-assets/js/scripts/pages/app-access-permission.js}"></script>
<!-- END: Page JS-->

<script>
                $(window).on('load', function() {
                    if (feather) {
                        feather.replace({
                            width: 14,
                            height: 14
                        });
                    }
                })
        </script>
<!-- END: Body-->
</div>